.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
	margin: 0 15rem 5rem 15rem;
}

@media only screen and (max-width: 1200px) {
	.content {
		margin: 0 2rem 5rem 2rem;
	}
}